body {
  font-family: Arial, sans-serif;
  background-color:rgb(41, 18, 1);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
}

.input-section {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  margin-top:15px;
  padding: 10px 15px;
  border: none;
  background-color: #ffffff;
  color:rgb(43, 26, 4)
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #f0f0f0;
  
}

.weather-result {
  margin-top: 20px;
  font-size: 18px;
}

.weather-result img {
  width: 80px;
  height: 80px;
}
